*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
}

.container{
    width: 235px;
    height: 410px;
    margin: 100px auto;
    padding: 15px 15px;
    background-color: hsl(216, 50%, 16%);
}

.equilibrium{
    width: 100%;
    border-radius: 7px;
}

h1{
    color:hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 400;
    padding-top: 13px;
}

.paragraph{
    text-align: left;
    padding: 15px 0;
    font-size: 13px;
    line-height: 18px;
    color: hsl(215, 56%, 70%);
}

.valor{
    margin-bottom: 13px;
    height: 20px;
    width: 205px;
    
}

.valueimg{
    position: relative;
    margin:2.5px 2px;
    height: 15px;
    float: left;
}

.value{
    position: absolute;
    color:hsl(178, 100%, 50%);
    font-size: 10px;
    margin-top: 3.66px;
    display: inline-block;
}

.tempimg{
    position: relative;
    margin: 4px 0 0 132px;
    height: 12px;
}

.temp{
    float: right;
    position: relative;
    color: hsl(215, 56%, 70%);
    font-size: 10px;
    margin-top: 3.6px;    
}

footer{
    border-top:1px solid hsl(215, 32%, 27%);
}

.avatar{
    height: 23px;
    background-color: white;
    border-radius: 50%;
    margin-top: 10px;
}

.creation{
    position: absolute;
    display: inline;
    padding-top: 14px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 300;
    opacity: 10px;
    color:  hsl(215, 56%, 70%);
}

strong{
    color: white;
}
/* ### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */